* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  user-select: none !important;
  box-sizing: border-box;
  font-family: "Exo 2";
  transition: 200ms;
}

.opacityLow {
  transition: all ease-in 90ms;
  cursor: pointer;
}

.opacityLow:hover {
  opacity: 60%;
}

*::-webkit-scrollbar-track {
  width: 0.5rem;
  background-color: #141313;
}

*::-webkit-scrollbar {
  width: 0.2vw;
}

*::-webkit-scrollbar-thumb {
  width: 0.1vw;
  background-color: rgba(111, 111, 111, 0.634);
}

body {
   background-color: #020202;
   overflow-y: auto;
   overflow-x: hidden;
   /* height: 200vh; */
   height: max-content;
}

header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 90px !important;
   box-shadow: rgba(78, 78, 78, 0.173) 0px 30px 60px -12px, rgba(0, 0, 0, 0.375) 0px 18px 36px -18px;
   z-index: 999;
}

.logo-showcase {
   position: absolute;
   top: 50%;
   left: 2.5vw;
   transform: translate(0, -50%);
   width: 5vw;
   height: 5vw;
}

.logo-showcase img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0;
   transform: scale(0.7);
}

.logo-active {
   opacity: 1 !important;
   transform: scale(1);
   transition: all 0.5s ease;
}

.header-login {
   position: absolute;
   top: 50%;
   right: 2.5vw;
   transform: translate(0, -50%);
   font-size: 15px;
   font-weight: 600;
   background-color: #fff;
   border: 1px solid #fff;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   color: #000;
   padding: 12px 40px;
   border-radius: 3px;
   cursor: pointer;
   transition: all ease-in 180ms;
}

.header-login:hover {
   background-color: #000;
   color: #fff;
}

.navbar-buttons {
   position: absolute;
   top: 50%;
   left: 8vw;
   transform: translate(0, -50%);
   width: 28vw;
   height: 3vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.navbar-buttons>a {
   color: #fff;
   text-decoration: none;
   transition: all ease-in 170ms;
}

.navbar-buttons>a:hover {
   color: #ffffffb9;
}

games {
   position: absolute;
   top: 18vh;
   left: 50%;
   transform: translate(-50%);
   width: 85%;
   height: 7vh;
   border-radius: 8px;
   border: 1px solid #333333;
   display: flex;
   justify-content: space-between;
   justify-items: center;
}

game {
   position: relative;
   top: 0;
   left: 0;
   width: 49.9%;
   height: 100%;
   border-radius: 8px;
   color: #fff;
}

game:nth-child(2) {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

game:nth-child(2):hover {
   border: 1px solid #8c8c8c;
   border-left: none;
}

game h1 {
   position: absolute;
   top: 50%;
   left: 1vw;
   font-size: 15px;
   font-weight: 500;
   transform: translate(0, -50%);
}

.game-selected {
   background-color: #ffffff;
   color: #000;
}

games > game:first-child.game-selected {
   border-right: 1px solid #555454;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

games > game:last-child.game-selected {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-left: 1px solid #555454;
}

.selected-gameBGProfile {
   position: absolute;
   top: 34vh;
   left: 50%;
   transform: translate(-50%);
   width: 100%;
   height: 78vh;
}

.selected-gameBGProfile-shadowLeft {
   position: absolute;
   top: 0;
   left: 0;
   width: 15%;
   height: 100%;
   background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,      
      rgba(0, 0, 0, 0) 100%     
  );
   filter: blur(15px);
}

.selected-gameBGProfile>img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 78vh;
   filter: grayscale(100%) brightness(20%);
   background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0b0b0bef 100%, #0b0b0bef 100%);
}

.selected-gameBGProfile-shadowRight {
   position: absolute;
   top: 0;
   right: 0;
   width: 15%;
   height: 100%;
   pointer-events: none;
   background: linear-gradient(
     to left,                
     rgba(0, 0, 0, 1) 0%,   
     rgba(0, 0, 0, 0) 100%  
   );
   filter: blur(15px);
}


.selected-game {
   position: absolute;
   top: 27vh;
   left: 50%;
   transform: translate(-50%);
   width: 85%;
   height: 85vh;
}

.selected-game-profile {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   width: 70vw;
   height: 78vh;
   border-left: 2px solid #333333;
   border-right: 2px solid #333333;
}

.selected-game-profile>img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.selected-game-layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0b0b0bef 100%, #0b0b0bef 100%);
}

.selected-game-profile>h1 {
   position: absolute;
   bottom: 12vh;
   left: 2vw;
   font-size: 20px;
   font-weight: 600;
   color: #fff;
}

.selected-game-profile>button {
   position: absolute;
   bottom: 3vh;
   left: 2vw;
   width: max-content;
   height: max-content;
   padding: 15px 20px;
   background-color: #FFFFFF;
   color: #000;
   border-radius: 5px;
   font-weight: 600;
}

.selected-game-platforms {
   position: absolute;
   bottom: 2vh;
   right: 1vw;
   height: 8vh;
   width: 24vw;
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
}

.selected-game-platforms>img {
   width: 40px;
   filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

slide {
   position: relative;
   margin-top: 130vh;
   top: 0;
   left: 0;
   width: 100vw;
   height: 55vh;
   display: block;
}

.slider-shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99;
   box-shadow: 75px 58px 216px 110px rgba(0,0,0,1) inset;
}

.slide-label {
   position: absolute;
   top: 124vh;
   left: 5vw;
   font-size: 28px;
   color: #fff;
   z-index: 99;
}

.slider {
   overflow: hidden;
   width: 100%;
}

.slide-track {
   display: flex;
   width: max-content;
   animation: scroll 35s linear infinite;
   gap: 20px;
}

.slide-track img {
   width: 50vw;
   object-fit: cover;
}

@keyframes scroll {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(-50%);
   }
}

faq {
   position: relative;
   top: 0;
   left: 0;
   width: 100vw;
   height: 70vh;
   display: block;
}

/* Support */

support {
   position: relative;
   top: 0;
   left: 0;
   width: 100vw;
   height: 70vh;
   display: block;
}
.support-bg {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%) url(/assets/supportbg.jpg);
}

support::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 99;

   background:
       linear-gradient(
           to bottom,
           rgba(2, 2, 2, 1) 0%,    
           rgba(2, 2, 2, 0) 20%    
       ),

       linear-gradient(
           to top,
           rgba(2, 2, 2, 1) 0%,    
           rgba(2, 2, 2, 0) 20%    
       ),

       radial-gradient(
           ellipse at center,
           rgba(0, 0, 0, 0) 60%,    
           rgba(0, 0, 0, 0.6) 100%  
       );
}

.support-logo {
   position: absolute;
   top: 10vh;
   left: 50%;
   transform: translate(-50%);
   width: 250px;
   z-index: 99;
}

support>span {
   position: absolute;
   bottom: 30vh;
   left: 50%;
   transform: translate(-50%);
   width: 25vw;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
}

support>button {
   position: absolute;
   bottom: 19vh;
   left: 50%;
   transform: translate(-50%);
   border-radius: 50px;
   background-color: #fff;
   color: #000;
   width: max-content;
   height: max-content;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: 600;
   z-index: 99;
}

footer {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 34vh;
   border-top: 1px solid #333333;
   /* background: #000000; */
}

footer>h1 {
   position: absolute;
   top: 4.5vh;
   left: 2vw;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   width: 45vw;
}
footer>h2 {
   position: absolute;
   bottom: 4.5vh;
   right: 4vw;
   color: #FFFFFF4C;
   font-size: 15px;
   font-weight: 500;
   width: max-content;
}
footer>h3 {
   position: absolute;
   bottom: 4.5vh;
   left: 2vw;
   color: #FFFFFF4C;
   font-size: 15px;
   font-weight: 500;
   width: max-content;
}

.footer-navbar {
   position: absolute;
   top: 9vh;
   right: 16vw;
   transform: translate(0, -50%);
   width: 28vw;
   height: 3vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.footer-navbar>a {
   color: #fff;
   text-decoration: none;
   transition: all ease-in 170ms;
}

.footer-navbar>a:hover {
   color: #ffffffb9;
}

.footer-contact {
   position: absolute;
   top: 6vh;
   right: 2vw;
   width: 13vw;
   height: 6.5vh;
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
}

.footer-contact>a {
   position: relative;
   top: 0;
   left: 0;
   aspect-ratio: 1/1;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: transparent;
   color: #fff;
   font-size: 18px;
   border: 2px solid hsla(0, 0%, 100%, .2);
   transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.footer-contact>a:hover {
   background-color: #fff;
   border: 1px solid #fff;
   color: #000;
}